body {
  background-color: #eee;
}
.heading {
  color: #39f;
}
main {
  background-color: #ccc;
  width: 50%;
}
h1 {
  background-color: whitesmoke;
  color: #777;
}
div {
  background-color: #fff;
  width: 50%;
}
